.logo {
  max-height: 2rem;
}

.w-100 {
  max-height: 40rem!important;
}

 .navbar {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  padding: .5rem 1rem;
  padding-left: 1em;
}

.explore-container {
  padding-left: 5em;
  padding-right: 5em;
  padding-top: 4em;
  padding-bottom: 1em;
}

.following-container {
  padding-left: 5em;
  padding-right: 5em;
  padding-top: 4em;
  padding-bottom: 1em;
}

.text-form {
  padding-left: 55em;
}

.header {
  text-align: center;
  padding-bottom: 1em;
}

.search-bar {
  text-align: right;
  padding-left: 1em;
}

.card {
  margin: 1em;
  width: 12%;
  height: 18em;
  text-align: center;
}

.card-header {
  padding-top: 1em !important;
  padding-bottom: 1em !important;
}

.card-body {
  display: flex;
  flex-direction: column;
}

.follow-button {
  margin-top: auto;
}

.login-form {
  padding-left: 7em;
  padding-right: 5em;
  padding-top: 4em;
  padding-bottom: 1em;
}

.register-form {
  padding-left: 7em;
  padding-right: 5em;
  padding-top: 4em;
  padding-bottom: 1em;
}

.form-control {
  margin: 3px;
}

.hometown-container {
  text-align: center;
  padding-left: 7em;
  padding-right: 5em;
  padding-top: 4em;
  padding-bottom: 1em;
}

.profile {
  text-align: center;
  padding-left: 7em;
  padding-right: 5em;
  padding-top: 4em;
  padding-bottom: 1em;
}

.profile-form {
  text-align: center;
  padding-left: 7em;
  padding-right: 5em;
  padding-top: 4em;
  padding-bottom: 1em;
}

.polling-card {
  width: 100% !important;
  height: 100% !important;
}

.btn-group-sm>.btn, .btn-sm {
  padding-top: .50rem !important;
  font-size: .875rem;
  line-height: 1.5;
  border-radius: .2rem;
}

.accordian-container {
  padding-right: 2em;
}